
@import "tailwindcss";

@theme {
  --color-background: #f1f3f4;
  --color-secondaryBackground: #f5f5f5;
  --color-headerColor: #5f6368;
  --color-textColor: #3c4043;
  --font-family-sans: "Inter", system-ui, sans-serif;
  --spacing-128: 32rem;
}